.PopupBody {
  background-color: #302c2c;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  border-radius: 12px;
  width: 37rem;
  height: 24rem;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
.PopupContainer {
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
}
.column1 {
  width: 50%;
  display: flex;
}
.popupimg {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  height: 24rem;
  width: 100%;
  object-fit: cover;
}
.column2 {
  width: 50%;
  display: flex;
}
.columnCol {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.CloseBtn {
  display: flex;
  justify-content: flex-end;
}
.CloseBtn button {
  margin-left: auto;
  background-color: transparent !important;
  border: none !important;
  font-size: 18px;
  cursor: pointer;
  color: chocolate;
  padding-top: 5px;
  position: fixed;
}

.btn {
  background-color: transparent;
  border: none;
  color: chocolate;
  font-weight: 600;
  font-size: medium;
}

.recordbtn {
  padding-top: 13.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.btnrecord {
  background-color: chocolate;
  color: white;
  border: none;
  font-weight: 600;

  margin-left: 6rem;
  height: 1.5rem;
  border-radius: 3px;
}
@media (max-width: 375px) {
  .PopupBody {
    width: 20rem !important;
    height: 26rem;
  }
  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .CloseBtn {
    margin-left: auto;
  }
  .column1 {
    width: 100%;
  }

  .popupimg {
    width: 90%;
    height: 13rem !important;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
  }

  .column2 {
    width: 100%;
    display: flex;
  }

  .popupName {
    display: flex;
    justify-content: space-around;
  }
  .recordbtn {
    padding-top: 2.5rem;
  }
}

@media (max-width: 768px) {
  .popupimg {
    width: 100%;
    height: 24rem;
  }
  .PopupBody {
    width: 40rem;
    height: 24rem;
  }
}

@media (max-width: 1024px) {
  .PopupBody {
    width: 47rem;
    height: 27rem;
  }
  .popupimg {
    width: 100%;
    height: 27rem;
  }
}
