.Main {
  background-color: #131313;
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  min-height: 100vh;
  height: fit-content;
}
.Card {
  margin-left: 4.5rem;
  margin-top: 2rem;
  background-color: #302c2c;
  border-radius: 12px;
  width: 20rem;
  height: 24rem;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

.CardItems {
  display: flex;
  flex-direction: column;
}
.Name {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 20px;
}

.Email {
  color: white;
  padding: 20px;
}
.Subject {
  color: white;
  padding: 20px;
}
