.Main {
  background-color: #131313;
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  min-height: 100vh;
  height: fit-content;
}
.Card {
  margin-left: 4.5rem;
  /* margin-top: 2rem; */
  background-color: #302c2c;
  border-radius: 12px;
  width: 20rem;
  height: fit-content;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

.CardItems {
  display: flex;
  flex-direction: column;
}

.cardimg {
  width: 20rem;
  border-radius: 12px;
}

.Name {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 20px;
}

.Email {
  color: white;
  padding: 20px;
}
.Subject {
  color: white;
  padding: 20px;
}

/* <================MOBILE=================> */

@media (min-width: 375px) {
  .Card {
    margin-left: 1.5rem;
    margin-top: 1rem;
    height: fit-content;
  }
}
/* <================iPad=================> */
@media (min-width: 768px) {
  .Card {
    margin-left: 2.5rem;
    height: fit-content;
  }
}
/* <================ipadPro=================> */
@media (min-width: 1024px) {
  .Main {
    display: flex;
    align-content: flex-start;
  }
  .Card {
    margin-top: 0.2rem;
    width: 18rem;
    height: fit-content;
  }
  .cardimg {
    width: 18rem;
  }
}
